#container{
	width:1000px;
	margin:0px auto;
	}
	
#right-column{
	width:200px;
	float:left;
	}

#left-column{
	width:1000px;
	float:left;
	}
	
#columna{
	width:320px;
	float:left;
	padding:10px;
	}
	
@media screen and (max-width:999px){
	#container{
		width:100%;
	}
	#right-column{
		width:30%;
	}
	#left-column{
		width:70%;
	}
	#columna{
		width:33%;
		padding:10px;
	}
}

@media screen and (max-width:600px){
	#container{
		width:100%;
	}
	#right-column{
		width:100%;
	}
	#left-column{
		width:100%;
	}
	#columna{
		width:33%;
		padding:10px;
	}
}